{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Shop</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
        <th>Catagory</th>
        <th>Description</th>
        <th>phone</th>
        <th>Date</th>
        <th></th>
    <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#">Delete Catagory</a><br></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><a href="http://127.0.0.1:5500/admin/AddNewCategory.html">+</a></td>
        <td></td>
        <td></td>
    </tr>
       
    </table>
</body>
</html>