{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Catagories..!</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">

</head>
<body class="test">
    <form action="" class="CategoryCard" method="post">
      {% csrf_token %}
    <h1>Add Catagories!</h1>
    <input type="text" placeholder="Catagory" name="Category_name" required><br>
    <input type="text" placeholder="Description" name="Description" required><br>
    <button type="submit">Add New Catagory</button><br>
  </form></div>
</body>
</html>
