{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password!</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">

</head>
<body>
  <div class="test">
    <form action="" class="passwordcard">
    <h1>Change Password</h1>
    <input type="Password" placeholder="Current Password"><br>
    <input type="password" placeholder="New password"><br>
    <input type="password" placeholder="Confirm-password"><br>
    <h4><a href="http://127.0.0.1:5500/admin/AdminForgotPassword.html">Forgot password</a></h4><br>
    <button type="submit">Confirm-Changes</button><br>
  </form></div>
</body>
</html>
