{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block & Unblock</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
        <th>shop name</th>
        <th>place</th>
        <th>phone</th>
        <th>email</th>
        <th>Verify</th>
        <tr>
            <td></td>
            <td></td>
            <td></td>  
            <td></td>          <td>
                <a href="#">block</a><br>
                <a href="#">Unblock</a><br>
            </td>
        </tr>
       
    </table>
</body>
</html>