{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Shop</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
        <th>shop</th>
        <th>place</th>
        <th>address</th>
        <th>phone</th>
        <th>email</th>
        <th>verify</th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#">accept</a><br>
                <a href="#">reject</a>
            </td>
        </tr>

       
    </table>
    <div class="BlockUnblock">
    <p><a href="/BlockAndUnblockShop">Block Shop And Unblock Shop</a></p>
    </div>
</body>
</html>