{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block & Unblock</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
      

        <th>User name</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        {% for i in val %}
        <tr>
            <td>{{ i.Name }}</td>           
            <td>{{ i.created_at }}</td>
            <td>{{ i.Review }}</td>
            <td>{{ i.Ratings }}</td>
        </tr>
       {% endfor %}
    </table>
</body>
</html>