{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Shop</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
        <th>Delivery Agent Name</th>
        <th>address</th>
        <th>phone</th>
        <th>email</th>
        <th>status</th>
        <th>Verify</th>
        {% for i in val %}
        <tr>
            <td>{{ i.Name }}</td>
            <td>{{ i.Address }}</td>
            <td>{{ i.Phone_no }}</td>
            <td>{{ i.Email }}</td>
            <td>{{ i.LOGIN_ID.type }}</td>
            <td>
                <a href="approve_deliveryagent/{{i.LOGIN_ID.id}}">approve</a><br>
                <a href="reject_deliveryagent/{{i.LOGIN_ID.id}}">reject</a>
            </td>
        </tr>
        {% endfor %}

       
    </table>
</body>
</html>