{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block & Unblock</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
        <tr><th colspan=6>SELLER ORDER </th></tr>
        <tr>
        <th>Order Details</th>
      
        <th>Date</th>
        <th>Place</th>
        <th>Customer Name</th>
        <th>Phone.No</th>
        <th>Status</th>
       </tr>
       {% for i in val %}
        <tr>
            <td>{{ i.Order.Order_details}}</td>
            <td>{{ i.Created_at}}</td>
            <td>{{ i.Order.User.Address}}</td>
            <td>{{ i.Order.User.Name}}</td>
            <td>{{ i.Order.User.Phone_no}}</td>
            <td><a href="/DeliveryUpdateOrder/{{i.id}}">Upload</a></td>

        </tr>   
        {% endfor %}    

        <tr><th colspan=6>TAILOR ORDER </th></tr>
        <tr>
        <th>Request Details</th>
        <th>Date</th>
        <th>Place</th>
        <th>Customer Name</th>
        <th>Phone.No</th>
        <th>Status</th>
       </tr>
       {% for i in val1 %}
        <tr>
            <td>
                {{i.Request.Design.Design_name}}, {{i.Request.Quantity}}
            </td>
            <td>{{i.Created_at}}</td>
            <td>{{i.Request.USER_ID.Address}}</td>
            <td>{{i.Request.USER_ID.Name}}</td>
            <td>{{i.Request.USER_ID.Phone_no}}</td>
            <td><a href="/DeliveryUpdateRequest/{{i.id}}">Upload</a></td>

        </tr>  
        {% endfor %}     
    </table>
</body>
</html>