{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block & Unblock</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
       
        <th>Complaint</th>
        <th>date</th>
        <th>Reply</th>
        {% for i in obj %}
        <tr>
           
            <td>{{ i.Complaint}}</td>
            <td>{{ i.created_at }}</td>
            <td>{{ i.Reply}}</td>
              
               
        </tr>
        {% endfor %}
        <tr><td colspan="4"><a href="/DeliveryComplaint">Sent New Complaint</a></td></tr>
    </table>
</body>
</html>