{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Catagories..!</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">

</head>
<body class="test">
    <form action="" class="CategoryCard">
    <h1>Update Order Status</h1>
    <input type="text" placeholder="Order ID"><br>
    <input type="text" placeholder="Customer Name"><br>
    <button type="submit">View Status</button><br>
  </form></div>
</body>
</html>
