{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
    <!-- <table>
       <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Phone</th>
        <th>Password</th>
       </tr>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a href="#">Edit</a>
        </td>
       </tr>
    </table> -->
<body>
        <div class="test"><form action="" method="post" class="regcard">
            {% csrf_token %}
        <h2>DeliveryAgent Profile</h2>
        <input type="text" placeholder="Name" name="Name" value="{{ obj.Name }}" ><br>
        <input type="text" placeholder="Address" name="Address" value="{{ obj.Address }}" ><br>
        <input type="text" placeholder="Phone Number" name="Phone_no" value="{{ obj.Phone_no }}" pattern="[6789][0-9]{9}"><br>
        <input type="email" placeholder="E-mail" name="Email" value="{{ obj.Email }}"><br>
        <button type="submit">UPDATE</button>
        </form>

        
</body>
</html>