{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body>
    <div class="test"><form action="/AssignDelivery" class="regcard" method="post">
        {% csrf_token %}
        <h2>Order</h2>
        <input type="hidden" name="Order"  value="{{obj1.id}}">
        <select id="Order" name="delivery Service">
            {% for i in obj %}
            <option value="{{i.id}}">{{ i.Name }}</option>
            {% endfor %}
        </select>
        <label>Address :- {{ obj1.order.user.Address }}</label><br>
        <button type="submit">Assign</button><br>
        </form>
        </div>
</body>
</html>
