{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="test">
        <div class="add">
            <a href="/selleraddproduct"><i class ="material-icons">add</i></a>
        </div>
    <table>
        <tr>
        <th>Product Name</th>
        <th>Product image</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th></tr>
        {% for i in obj %}
       <tr>
        <td>{{i.Product_name}}</td>
        <td><img src="{{i.Product_image.url}}" alt="" height="100px" width="100px"></td>
        <td>{{i.Description}}</td>
        <td>{{i.Price}}</td>
        <td>{{i.Quantity}}</td>
        <td>
            <a href="#">Edit</a>
            <a href="/deletepro/{{i.id}}" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
        </td>
       </tr>
       {% endfor %}

    </table>
    <div class="SellerOrder">
        <p><a href="/sellerorder" class="a">View Order</a></p>
        </div>
</body>
</html>