{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="test">
        <!-- <div class="add">
            <a href="/selleraddoffer"><i class ="material-icons">add</i></a>
        </div> -->
    <table>
        <tr>
        <th>Offer name </th>
        <th>Offer Date</th>
        <th>Product Name</th>
        <th>Product Image</th>
        <th>Offer Details</th>
        <th>Discount</th>
        <!-- <th></th> -->
        </tr>
        {% for i in obj %}
       <tr>
        <td>{{ i.Offer_name}}</td>
        <td>{{ i.created_at}}</td>
        <td>{{ i.PRODUCT_ID.Product_name }}</td>
        <td><img src="{{i.PRODUCT_ID.Product_image.url}}" alt="" height="100px" width="100px"></td>
        <td>{{ i.Offer_details}}</td>
        <td>{{ i.discount}}</td>
        <!-- <td>
            <a href="/editoffer/{{i.id}}">Edit</a><br>
            <a href="/deleteoff/{{i.id}}" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
       
        </td> -->
    </tr>
    {% endfor %}
    </table>
</body>
</html>