{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller..Register Now!</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
    <body>
        <div class="test"><form action="" class="regcard">
        <h2>Seller Registration</h2>
        <input type="text" placeholder="Name"><br>
        <input type="email" placeholder="email"><br>
        <input type="tel" placeholder="Phone Number"><br>
        <input type="password" placeholder="password"><br>
        <input type="password" id="password" placeholder="Confirm-password"><br>
        <p>Already Have an Account?<a href="http://127.0.0.1:5500/login.html?">Login Now</a></p>
        <button type="submit">REGISTER</button>

        </body>
        </html>