{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="test">
        <table>
            <tr>
        <th>User name</th>
        <th>Product name</th>
        <th>Product image</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
    </tr>
    {% for i in o %}
        <tr>
        <td>{{i.USER_ID.LOGIN_ID.username}}</td>
        <td>{{i.PRODUCT_ID.Product_name}}</td>
        <td><img src="{{i.PRODUCT_ID.Product_image.url}}" alt="" height="100px" width="100px"></td>
        <td>{{i.created_at}}</td>
        <td>{{i.Review}}</td>
        <td>{{i.Ratings}}</td>
        
       </tr>
       {% endfor %}
    </table>
</body>
</html>