{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint reply</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test"><form action="" method="post" class="regcard">
    {% csrf_token %}
    <h1>Send Complaint</h1>
    <input type="hidden" name="SELLER_ID" value="{{obj.id}}">
    <input type="text" name="Complaint" placeholder="Complaint">
    <button type="submit">Send</button>
</form>
</body>
</html>