{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
        <tr>
        <th>User Name</th>
        <th>product name</th>
        <th>Complaint</th>
        <th> date </th>
        <th>Reply</th>
        <th></th>
    </tr>
    {% for i in o %}
        <tr>
            <td>{{i.USER_ID.LOGIN_ID.username}}</td>
        <td>{{i.PRODUCT_ID.Product_name}}</td>
        <td>{{i.Complaint}}</td>
        <td>{{i.created_at}}</td>
        <td>{{i.Reply}}</td>
            <td>
                <a href="/sellersendreply/{{i.id}}">Reply</a></td><br></tr>
        </tr>
       {%endfor%}
    </table>
</body>
</html>