{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
        <th>User Name</th>
        <th>Complaint</th>
        <th> date </th>
        <th>Replay</th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#">Replay</a></td><br></tr>
        </tr>
       
    </table>
</body>
</html>