{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Complaint..!</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">

</head>
<body>
    <form action="" class="compcard">
    <h1 class="comph1">Add New Complaint</h1>
    <input type="hidden" name="SELLER_ID" value="{{obj.id}}">
    <div class="commentbox">
      <label for="comments">Complaints</label><br>
    <textarea name="comments" name="Comments"></textarea></div>
    <!-- <div class="buttoncomp"> -->
    <button type="submit">Post Complaints</button><br></div>
</form>
</body>
</html>
