{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block & Unblock</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
        <th>User Name</th>
        <th>Complaint</th>
        <th>date</th>
        <th>Reply</th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="/DeliveryBoyReply">Reply</a></td><br></tr>
                <tr><td colspan="4"><a href="/DeliveryComplaint">Sent New Complaint</a></td></tr>
        </tr>
       
    </table>
</body>
</html>