{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Dropdown List</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">
<form action="" class="CategoryCard">
        <p>Delivery Agent:</p>
        <select id="design" name="design">
            <option value="#">Option 1</option>
            <option value="#">Option 2</option>
            <option value="#">Option 3</option>
            <option value="#">Option 4</option>
        </select>
    </form>
      
</body>
</html>