{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Design</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
        <th>Design Name</th>
        <th>Design Image</th>
        <th>Price</th>
        <th></th>
        {% for i in obj %} 
        <tr>
            <td>{{i.Design_name}}</td>
            <td><img src="{{i.Design_image.url}}" alt="" height="100px" width="100px"></td>
            <td>{{i.Price}}</td>
            <td>
                <a href="/editdes/{{i.id}}" >Edit</a><br>
               <a href="/deletedes/{{i.id}}">Delete</a><br></td></tr>        {% endfor %}

                <tr>
                  
                    <td colspan="4"><a href="/TailorAddDesign">Add_New</a></td>
                    
                </tr>
        </tr>
    </table>
</body>
</html>