{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View & Assign</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
        <th>Design Name</th>
        <th>Design image</th>
        <th>Date</th>
        <th>Place</th>
        <th>Phone</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Delivery Agent</th>
        {% for i in obj %}
        <tr>
            <td>{{ i.Design.Design_name}}</td>
            <td><img src="{{i.Design.Design_image.url}}" alt="" height="100px" width="100px"></td>
            <td>{{i.Date}}</td>
            <td>{{i.USER_ID.Address}}</td>
            <td>{{i.USER_ID.Phone_no}}</td>
            <td>{{i.Quantity}}</td>
            <td>
                {% if i.Request_status == 'pending' %}
                <a href="Accept_Request/{{i.id}}">Accept</a><br>
                <a href="Reject_Request/{{i.id}}">Reject</a><br>
                {% else %}
                {{i.Request_status}}
                {% endif %}
            </td>
            <td>
                {% if i.Request_status == 'Accepted' %}
                <a href="/TailorDeliveryAgent/{{i.id}}">Assign</a></td><br></tr>
                {% else %}
                <p> Not yet assigned</p>
                {% endif %}
            </td><br></tr>

                {% endfor %}
                
       
    </table>
</body>
</html>