{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View & Assign</title>
    <link rel="stylesheet" href="{% static 'style.css'  %}">
</head>
<body class="test">

    <table>
        <th>Request</th>
        <th>Date</th>
        <th>Place</th>
        <th>Phone</th>
        <th>Quantity</th>
        <th>Request ID</th>
        <th>Delivery Agent</th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="/TailorDeliveryAgent">Assign</a></td><br></tr>
                
       
    </table>
</body>
</html>